// COLOR
$primaryBgColor: #040037;
$primaryBtnColor: #bd3934;
$generalColor: #fff;
$secondaryBgColor: #d9d9d9;
$tertiaryBgColor: #e9e3fd;
$secondaryBtnColor: #c4c4c4;
$footerBgColor: #fcf6ee;
$iconSmColor: #1a035d;
$txtHolInOneColor: #d29319;
